*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

a{
  display: block;
  text-decoration: none;
  color: white;
}

body{
  background-color: white;
}
h1{
    text-align: center;
    background-color:  #bbccaa;
    color: white;
    font-size: 40px;
    padding: 30px 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.title{
    height: 100px;
    background-color: #669988;
    padding-top: 25px;
    padding-bottom: 35px;
}

.navBar{
  display: flex;
  flex-direction: row;
  background-color: #99bbaa;
  height: fit-content;
  justify-content: space-evenly;
}

.item{
  padding: 8px;
  background-color: #99bbaa;
  font-style: bold;
  font-size: 24px;
}

.item:hover{
  background-color: #eeddbb;
  color: #337777;
}

#content{
    margin-left: 100px;
    margin-right:100px;
    padding: 30px;
    display: block;
    margin: auto;
}
#answerContainer{
  background-color: #eeddbb;
  /* height:50px; */
  padding: 10px 20px;
  margin-left: 40px;
  margin-right: 40px;
}



form{
  background-color: #669988;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.button {
    border-radius: 5px;
    border-style: none;
    color: white;
    transition-duration: 1s;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    background-color: #99bbaa;
    margin-top: 10px;

}

#buttons {
    display: flex;
    justify-content: space-between;
}

.button:hover{
  background-color: #eeddbb;
  color: #337777;
}

#question{
  font-size: 20px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;

}


#choices{
  font-size: 20px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}
