*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body{
  background-color: #fff400;

}
/* a{
  display: block;
  text-decoration: none;
  font-style: bold;
  position: absolute;
  background-color: rgb(250,217,92);
  background-color: #ffdb00;
  font-size: 20px;
  width: fit-content;
  padding: 9px;
  color: black;
  border-radius: 1em;
  border: solid;
  border-color: black;
} */

img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}

.flexHoriz{
    display: flex;
    justify-content: space-between;
}


#logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 600px;
    width: 550px;
    /* animation:rotate(360deg);
    animation-iteration-count: 2; */
}

#arrowRight {
    position: relative;
    margin-top: -10px;
    margin-right: 10px;
    transform: scaleX(-1) rotate(105deg);
}

#arrowLeft {
    margin-top: -25px;
    margin-left: 10px;
    transform: rotate(160deg) scaleX(-1);
}

#arrowBottom{
    margin-right: auto;
    margin-left: auto;
    transform: scaleX(-1) rotate(-40deg);
}

img#bed {
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 110px;
}

img#lightulb {
    margin-top: 10px;
    width: 120px;
    height: 120px;
}

img#smile {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;

}

#start{
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  width: fit-content;
  height: fit-content;
}
