*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

a{
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}

h1{
    text-align: center;
    background-color:  #bbccaa;
    color: white;
    font-size: 40px;
    padding: 30px 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.title{
    height: 100px;
    background-color: #669988;
    padding-top: 25px;
    padding-bottom: 35px;
}

.navBar{
  display: flex;
  flex-direction: row;
  background-color: #99bbaa;
  height: fit-content;
  justify-content: space-evenly;
}

.item{
  padding: 8px;
  background-color: #99bbaa;
  font-style: bold;
  font-size: 24px;
}

.item:hover{
  background-color: #eeddbb;
  color: #337777;
}
