*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

a{
  display: block;
  text-decoration: none;
  color: white;
}

h1{
    text-align: center;
    color: white;

}

h2{
    font-size: 30px;
    padding: 10px;
}

p{
    padding: 5px;
}

.title{
    height: 100px;
    background-color: yellow;
    padding-top: 45px;

}

.navBar{
  display: flex;
  flex-direction: row;
  background-color: orange;
  height: fit-content;
  justify-content: space-evenly;
}

.item{
  padding: 8px;
  background-color: orange;
  font-style: bold;
  font-size: 20px;
}

.item:hover{
    background-color: #b88700;
}

.content{
    margin-right: 100px;
    margin-left: 100px;
}

.question{
    font-size: 20px;
}

#instruction{
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
}

#quizContainter{
    font-size: 20px;
    line-height: 2;
}

.button {
    border-radius: 5px;
    border-style: none;
    color: white;
    transition-duration: 1s;
}

#submitButton {
    display: block;
    background: rgb(232,185,44);
    font-weight: bold;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#submitButton:hover{
    background: rgb(252,69,40);
}

#resultMessage{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:20px;
}
