*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

a{
  display: block;
  text-decoration: none;
  color: white;
}

h1{
    text-align: center;
    background-color:  #bbccaa;
    color: white;
    font-size: 40px;
    padding: 30px 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.title{
    height: 100px;
    background-color: #669988;
    padding-top: 25px;
    padding-bottom: 35px;
}

.navBar{
  display: flex;
  flex-direction: row;
  background-color: #99bbaa;
  height: fit-content;
  justify-content: space-evenly;
}

.item{
  padding: 8px;
  background-color: #99bbaa;
  font-style: bold;
  font-size: 24px;
}

.item:hover{
  background-color: #eeddbb;
  color: #337777;
}

.content{
    margin-right: 100px;
    margin-left: 100px;

}

.question{
    font-size: 20px;
}

/* #instruction{
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
} */

#quizContainter{
    font-size: 20px;
    line-height: 2;
    background-color: #eeddbb;
    padding: 30px;
    color: #669988;
}

.button {
    border-radius: 5px;
    border-style: none;
    color: white;
    transition-duration: 1s;
}

#submitButton {
    display: block;
    background: #669988;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#submitButton:hover{
  background-color: #eeddbb;
  color: #337777;
}

#resultMessage{
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size:20px;
    background-color: #eeddbb;
    padding: 20px;
}
